*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

header{
	height: 50px;
	background-color: #CE852A;
	color: #fff;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#btn-menu{
	display: none;
}
header label{
	font-style: 30px;
	cursor: pointer;
	display: none;
}
.menu ul{
	background-color: #CE852A;
	display: flex;
	list-style: none;
}
.menu ul ul{
	display: none;
}
.menu a{
	display: block;
	padding: 15px 20px;
	color: #FFF;
	text-decoration: none;
}
.menu a:hover{
	background-color: rgba(0,0,0,0.3);
}
.menu a span{
	margin-left: 10px;
}
.menu ul li:hover ul{
	display: block;
	position: absolute;
}

@media (max-width: 768px){
	header label{
		display: block;
	}
	.menu{
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		transform: translateX(-100%);
		transition: all 0.3s;
	}
	.menu ul{
		display: block;
		background-color: #555;
	}
	/*Evitar desplegar el menu*/
	.menu ul li:hover ul{
		display: none;
		position: static;
	}
	.menu a span{
		position: absolute;
		right: 5px;
	}
	#btn-menu:checked ~ .menu{
		transform: translateX(0%);
	}
	.menu ul ul a{
		padding: 15px 40px;
	}
}